Skip to content
Product 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search
Sign in
Sign up
jakerieger
/
FlaskIntroduction
Public
Code
Issues
Pull requests
1
Actions
Projects
Wiki
Security
Insights
FlaskIntroduction/static/css/main.css
@kohlchelsea
kohlchelsea Change background color to blue
Latest commit 8be8e4b on May 18, 2021
 History
 2 contributors
@kohlchelsea@jakerieger
36 lines (29 sloc)  388 Bytes
   
body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete